*{
    margin:0;
    padding:0;
}
html{
    height:100%;
}
* html body{
    height:100%;
}
body{
    margin:0;
    padding:0;
    font-family:Tahoma;
    color:#000;
    font-size:13px;
    line-height:18px;
    background:#fff;
    min-height:100%;
    position:relative;
    height:auto !important;
}
img{
    border:none;
}
a{
   text-decoration:underline;
   color:#000;
}
a:hover{
    text-decoration:none;
}
p, div, a, input, select, textarea, li{
    outline:none;
}
p{
    margin:0 0 15px 0;
}
input[type="button"]::-moz-focus-inner {
    border: none;
}
h1{
    font-size:28px;
    font-weight:normal;
}


/*------------------ container -----------------*/
#container{
    position:relative;
    width:100%;
    min-height:100%;
}



/*------------------ cont -----------------*/
#cont{
    width:690px;
    margin:25px auto;
}
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default{
    display:none;
}
.ui-page.ui-body-c.ui-page-active{
    height:auto !important;
}
.draggable{
    position:relative;
    z-index:1000;
}
.fixed{
    position: fixed;
}
.item{
    width:145px;
    padding:0 23px 0 3px;
    border-left:1px solid #709d67;
    font-size:13px;
    font-family:Arial;
    background:none !important;
    margin:15px 12px 10px 12px !important;
}
.item.correct{
    color:#709d67;
}
.item.incorrect{
    color:#f1592a;
}
.item a{
    color: white;		
}
.top-title-block{
    background:url(../img/site-bg/left-dashed-gray-bg.jpg) no-repeat left 11px;
    padding-left:73px;
    letter-spacing:-1px;
}
.top-title-block h1{
    background:url(../img/site-bg/right-dashed-gray-bg.jpg) no-repeat right 11px;
    padding-right:70px;
}
.quest-block{
    margin-top:55px;
    font-size:20px;
    line-height:22px;
    border-left:1px solid #000;
    padding-left:15px;
}
.answer-block{
    padding-top:25px;
}
.answer-block .droppable{
    float:left;
    width:166px;
    margin:0 6px 0 0 !important;
    background:#fff url(../img/site-bg/gray-block-center-bg.jpg) repeat-y !important;
    min-height:155px !important;
    height:auto !important;
    position:relative;
}
.answer-block .droppable .top-bg{
    background:#fff url(../img/site-bg/gray-block-top-bg.jpg) no-repeat;
    height:11px;
    position:absolute;
    top:58px;
    left:0;
    width:166px;
}
.answer-block .droppable .bottom-bg{
    background:#fff url(../img/site-bg/gray-block-bottom-bg.jpg) no-repeat;
    height:11px;
    position:absolute;
    left:0;
    bottom:0;
    width:166px;
}
.answer-block .droppable.last{
    margin:0;
}
.answer-block .line-block{
    padding-bottom:40px;
}
.answer-block .line-block.last{
    padding-bottom:0;
}
.answer-block .droppable .name-box{
    background:url(../img/site-bg/name-bg.jpg) no-repeat;
    height:58px;
    width:166px;
    text-align:center;
    line-height:40px;
    font-size:16px;
    color:#fff;
    font-family:Arial;
}
.answer-block .droppable.base{
    background:none !important;
}
.answer-block .result-block{
    float:left;
    width:168px;
}
.answer-block .result-block button{
    background:url(../img/button/result-button-bg.jpg) no-repeat;
    height:41px;
    width:168px;
    border:none;
    cursor:pointer;
    color:#fff !important;
    font-size:15px !important;
    font-family: Arial !important;
    font-weight:bold;
    text-transform:uppercase;
}
.answer-block .result-block button.ui-state-focus:focus, button.active, .answer-block .result-block.wrong button{
    background:url(../img/button/result-button-bg-focus.jpg) no-repeat !important;
}
.answer-block .result-block #div_result{
    background:url(../img/site-bg/answer-bg.jpg) no-repeat left 18px;
    text-align:center;
    font-size:13px;
    color:#3a3a3c;
    font-family: Arial;
    padding:27px 10px 0 10px;
    line-height:16px;
    height:87px;
    min-height:87px;
    height:auto !important;
    width:148px;
}
.answer-block .result-block #div_result span{
    font-style:italic;
    font-size:11px;
}
.answer-block .result-block #div_result span.brown-text{
    color:#f1592a;
    font-style:normal;
    font-size:13px;
    font-weight:bold;
}
.answer-block .result-block.wrong #div_result{
    padding-top:40px;
    min-height:74px;
}
.answer-block .result-block.accepted #div_result{
    width:156px;
    padding:27px 6px 0;
}
.answer-block .result-block.accepted button span{
    display:none;
}
.answer-block  .bottom-answer-text-block{
    padding-top:15px;
}
.answer-block  .bottom-answer-text-block .droppable.base{
    width:690px;
}
.answer-block  .bottom-answer-text-block .droppable.base .info-text-box.bigest .inner-small-info-box{
    min-height:37px;
    height: auto !important;
    width:172px;
    padding-bottom:10px;
}
.answer-block  .bottom-answer-text-block .droppable.base .info-text-box.bigest .inner-small-info-box.small{
    min-height:20px;
    height: auto !important;
}
.answer-block  .bottom-answer-text-block .droppable.base .info-text-box.bigest .inner-small-info-box .draggable{
    margin-bottom:0 !important;
}
.answer-block  .bottom-answer-text-block .droppable.base .draggable{
    padding:0 23px 0 3px;
    border-left:1px solid #000;
    color:#000;
    font-size:13px;
    font-family:Arial;
    background:none !important;
    margin:0 0 10px 0 !important;
}
.answer-block  .bottom-answer-text-block .droppable.base .info-text-box{
    float:left;
    width:172px;
    min-height:20px;
    height:auto !important;
}
.answer-block  .bottom-answer-text-block .droppable.base .info-text-box.big{
    min-height:80px;
}
.answer-block  .bottom-answer-text-block .droppable.base .info-text-box.bigest{
    min-height:120px;
}
.answer-block  .bottom-answer-text-block .droppable.base .info-text-box.up-top{
    position:relative;
    bottom:38px;
}
.answer-block  .bottom-answer-text-block .droppable.base .info-text-box.up-top-second{
    position:relative;
    bottom:73px;
}
/*------------------ end cont -----------------*/


/*------------------ end container -----------------*/
